<b><%= @question.title%></b>
<%= @question.description %>
created <%= @question.created_at %> by <%= @question.user.username %>
last edited at <%= @question.updated_at %><br><br>

<% @comments_on_question.each do |comment_q| %>
<%= comment_q.message %><br>
<%= comment_q.created_at %><br>
<%= comment_q.commenter.username %><br>
<% end %><br>

<%= form_for([@question, @comment]) do |f| %>
  <%= f.label :comment %>
  <%= f.text_area :message%><br>
  <%= f.submit "Submit"%>
<% end %>

<% @answers_for_question.each do |answer_for_question| %>

  <p><%= answer_for_question.content%></p>
  <p><%= answer_for_question.answerer.username%></p>

<%end%>

Your Answer<br>
<%= form_for([@question, @answer]) do |f| %>
  <%= f.label :answer %>
  <%= f.text_area :content%><br>
  <%= f.submit "Submit"%>
<% end %>






