<% if current_user %>
<div class="page_header">Hi, <%= current_user.username%>!</div>
<br>


<div class="page_header">Your Questions:</div>
<br>
<%if current_user.questions.empty? %>
<i>You haven't asked any questions yet.</i>
<%else%>
<table>
  <% current_user.questions.each do |question|%>
  <tr>
    <td class="vote_count"><p>0 <br>votes</p></td>
    <td class="header"><%= link_to question.title, question_path(question) %></td>
  </tr>
  <tr>
    <td class="answer_count"><p>0<br>answers</p></td>
    <td><%= question.description[0..500] %>...</td>
  </tr>
  <tr>
    <td></td>
    <td class="created_info"><p>originally asked <%= question.created_at %><br>last updated <%= question.updated_at%></p></td>
  </tr>
  <tr>
    <td class="list_separator"></td>
    <td class="list_separator"><%= link_to "edit", edit_question_path(question) %> | <%= link_to "delete",  question_path(question), method: :delete %></td>
  </tr>
  <% end %>
</table>
<%end%>
<br>


Your Answers
<table>
  <% current_user.answers_provided.each do |answer|%>
  <% question = answer.question %>
  <tr>
    <td><b><%= link_to answer.content, question_path(question)%></b></td>
  </tr>
  <tr>
    <td><%= link_to "edit", edit_question_answer_path(question, answer) %></td>
    <td><%= link_to "delete",  question_answer_path(question, answer), method: :delete %></td>
  </tr>
  <%end%>
</table><br><br>

Comments
<table>
  <% question_comments = current_user.comments_provided.where(response_type: "Question")%>
  <% question_comments.each do |q_comment| %>
  <% question = q_comment.response %>
  <tr>
    <td><b><%= link_to q_comment.message, question_path(question)%></td>
  </tr>
  <tr>
    <td><%= link_to "edit", edit_question_comment_path(question, q_comment) %></td>
    <td><%= link_to "delete",  question_comment_path(question, q_comment), method: :delete %></td>
  </tr>
  <%end%>
</table>

<table>
 <% answer_comments = current_user.comments_provided.where(response_type: "Answer")%>
 <% answer_comments.each do |a_comment| %>
 <% answer = a_comment.response %>
 <% question = answer.question %>
  <tr>
    <td><b><%= link_to a_comment.message, question_path(question)%></td>
  </tr>
  <tr>
    <td><%= link_to "edit", edit_question_answer_comment_path(question, answer, a_comment) %></td>
    <td><%= link_to "delete",  question_answer_comment_path(question, answer, a_comment), method: :delete %></td>
  </tr>
  <%end%>
</table>






<% else %>

<% end %>

