<!DOCTYPE html>
<html>
<head>
  <title>OverflowYourBoat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="user_nav">
    <% if current_user %>
    <%= link_to "Profile", user_path(current_user) %>  <%= link_to "Logout", '/logout', {method: :delete} %>
    <% else %>
    <%= link_to 'Login', '/login' %>  <%= link_to 'Signup', '/signup' %>
    <% end %>
  </div>
  <header>
    <div class="sitename">
      <%= link_to image_tag("oyb_logo.png", alt: "Overflow Your Boat", width: "500"), questions_path %>
    </div><br>
    <div class="main_nav">
      <%= link_to "Questions", questions_path %>
      <%= link_to "Unanswered", questions_path %>
      <%= link_to "Add Question", questions_path %>
    </div>
    <br>
  </header>
  <% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>
<!--   <footer>
    The A Team
  </footer> -->
</body>
</html>
