<!DOCTYPE html>
<html>
<head>
  <title>OverflowYourBoat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="sitename"><%= link_to image_tag("oyb_logo.png", alt: "Overflow Your Boat", width: "500"), questions_path %> </div>
    <div class="nav">
<% if current_user %>
  Signed in as <%= link_to current_user.username, user_path(current_user) %> | <%= link_to "Logout", '/logout', {method: :delete} %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>
</div>
<hr>
  </header>
<% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
<%= yield %>

</body>
</html>
